@model CommonLayer.EmployeeLogin

@{
    ViewData["Title"] = "Login";
}
<link href="~/css/login.css" rel="stylesheet" />
<div class="centerLink">
<h1 class="headerStyle">Sign in </h1>
<h4>Use your Employee Account</h4>
<div class="row">
        <div class="formContent">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <input asp-for="EmployeeId" class="form-control" />
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sing in" class="detaiLink" />
            </div>
        </form>
    </div>
</div>

<div style=" padding-bottom:20px;display:flex;justify-content:center;">
    <div>
            <p>New Employee? </p> 
    </div>
        &nbsp;&nbsp;
        <div>
         <a asp-action="Create" class="createLink">Sign up</a>
    </div>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
